@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root{
    --font-family: 'Open Sans', sans-serif;
    --background-color: #FFF8F3;
    --white-color: #FFF;
    --heading-color: #181818;
    --text-color: #757575;
    --subheading-color: #474747;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

h1{
    font-size: 85px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 25px;
}

h6{
    font-size: 20px;
}

