@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root{
    --font-family: 'Open Sans', sans-serif;
    --background-color: #FFF8F3;
    --primary-color: #FD6E0A;
    --white-color: #FFF;
    --heading-color: #181818;
    --text-color: #757575;
    --subheading-color: #474747;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

h1{
    font-size: 85px;
}

h2{
    font-size: 45px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 30px;
}

h5{
    font-size: 25px;
}

h6{
    font-size: 20px;
}

/* header section start */
.header-section{
    background-color: var(--background-color);
    background-image: url(../assets/images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.header-section .side-image img{
    position: absolute;
    top: 10px;
    left: 43px;
}

.header-section .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
}

.navbar h2{
    color: var(--heading-color);
    font-family: var(--font-family);
    font-weight: 800;
}

.navbar h2 span{
    color: var(--primary-color);
}

.navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.navbar nav ul li{
    list-style: none;
}

.navbar nav ul li a{
    color: var(--subheading-color);
    font-size: 20px;
    font-family: var(--font-family);
    font-weight: 400;
}
.navbar nav ul .nav-btn{
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    background: #FD6E0A;
    font-family: var(--font-family);
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
}
.banner-section{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner-section .banner-title{
    margin-top: 165px;
}
.banner-section .banner-title span{
    color: var(--subheading-color);
    font-size: 45px;
    font-family: var(--font-family);
    font-weight: 600;
}

.banner-section .banner-title h1{
    color: var(--heading-color);
    font-family: var(--font-family);
    font-weight: 700;
}

.banner-section .banner-title p{
    max-width: 585px;
    color: var(--text-color);
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner-section .banner-btn{
    padding-bottom: 184px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.btn-top a{
    padding: 19px 17px 18px 10px;
    background-color: var(--primary-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--white-color);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
}

.btn-top a svg{
    padding-left: 17px;
}

.btn-bottom a{
    padding: 19px 23px 18px 10px;
    background-color: var(--white-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
}

.btn-bottom a svg{
    padding-left: 17px;
}
.banner-section .banner-left{
    margin-bottom: 0px;
}
.banner-section .banner-left img{
    position: absolute;
    top: 123px;
    right: 10px;
}

/* About section Start */
.about-box{
    background-color: var(--background-color);
    margin-top: 130px;
    border-radius: 10px
}

.about-box .about-title h3{
    color: var(--heading-color);
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    padding-top: 121px;
    padding-bottom: 20px;
}

.about-box .about-title p{
    width: 827px;
    color: var(--text-color);
    text-align: center;
    margin: 0 auto;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 30px;
}
.about-bottom{
    padding-bottom: 130px;
}
.about-box .about-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.about-bottom .about-name {
    text-align: center;
}
.about-bottom .about-name span{
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

.about-bottom .about-name h6{
    color: var(--subheading-color);
    font-family:var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

/* what i do section start */
.what-box{

}
.what-box .white-box-title h3{
    color: var(--heading-color);
    text-align: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 130px;
    margin-bottom: 30px;
}

.what-box .white-box-title p{
    width: 909px;
    color: var(--text-color);
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.what-box-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.what-box-bottom .what-section-icon{
    max-width: 267px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    margin-top: 50px;
    display: block;
    justify-content: flex-start;
    align-items: self-start;
    padding: 30px;
}

.what-box-bottom .what-section-icon img{
    padding-bottom: 30px;
}

.what-box-bottom .what-section-icon h6{
    color: var(--heading-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 20px;
}

.what-box-bottom .what-section-icon p{
    width: 201px;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    
}

/* resume section start */
.resume-header h3{
    color: var(--heading-color);
    text-align: center;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 130px;
}
.resume-title-box{
    margin-top: 113px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
    margin-bottom: 50px;
}
.resume-title-box  h4{
    color: var(--subheading-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.resume-single-box h5{
    color: var(--subheading-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.resume-single-box span{
    color:var(--text-color);
    font-family: var(--font-family);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.resume-single-box p{
    width: 511px;
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    margin-top: 20px;
    margin-bottom: 30px;
}

.resume-hr{
    width: 558px;
    background: #D1D1D1;
    margin-bottom: 30px;
}

.resume-btn{
    text-align: center;
}

/* Footer section start */
.footer-section{
    background-color: var(--background-color);
    margin-top: 113px;
}
.footer-box{
    display: flex;
    justify-content: center;
    gap: 117px;
}

.footer-box .footer-right .footer-form h3,
.footer-box .footer-left h3{
    color: var(--heading-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 130px;
}

.footer-box .footer-left p{
    width: 562px;
    color: var(--subheading-color);
    font-family: var(--font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    margin-top: 20px;
}

.footer-icon{
    display: flex;
    gap: 24px;
    margin-top: 30px;
}

.footer-right{
    flex-direction: row;
}

.footer-form .name-form{
    margin-top: 28px;
}


.footer-form .name-form input{
    width: 461px;
    height: 64px;
    border-radius: 5px;
    background: var(--white-color);
    border: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    padding-left: 30px;
    margin-bottom: 4px;
}

.footer-form .text-field textarea{
    width: 461px;
    height: 180px;
    border-radius: 5px;
    background: var(--white-color);
    border: 0;
    font-family: var(--font-family);
    color: var(--text-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    padding-left: 30px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.footer-form .name-form input:focus{
    border: 0;
}

.submit-btn .btn-top a{
    padding: 18px 39px 19px 39px;
    margin-bottom: 130px;
}